

services:
  api:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: phishing-api
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
      - ./backend/ml:/app/ml
    environment:
      - PYTHONUNBUFFERED=1
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
